<link href="{{ site.logo | relative_url }}" rel="icon" sizes="196x196" type="image/png"/>
<link color="transparent" href="{{ "safari-pinned-tab.svg" | relative_url }}" rel="mask-icon"/>
<meta content="{{ "mstile-icon-128x128.png" | relative_url }}" name="msapplication-TileImage"/>
<meta content="transparent" name="msapplication-TileColor"/>
<link href="{{ "manifest.webmanifest" | relative_url }}" rel="manifest"/>
<meta content="{{ "browserconfig.xml" | relative_url }}" name="msapplication-config"/>
