<aside id="press" class="bg-white pt-12 pb-12 px-4 sm:px-6 lg:pt-12 lg:pb-12 lg:px-8" aria-label="Press coverage">
  <div class="relative max-w-lg mx-auto divide-y-2 divide-gray-200 lg:max-w-7xl">
    <div>
      <h2 class="text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl">Press coverage</h2>
    </div>
    <div class="mt-6 pt-10 grid gap-16 lg:grid-cols-3 lg:gap-x-5 lg:gap-y-12">
      {% for post in site.categories.press limit:6 %}
      <div>
        <p class="text-sm text-gray-500">
          <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%B %d, %Y" }}</time>
        </p>
        <div class="mt-2 block">
          <h3 class="text-xl font-semibold text-gray-900">{{ post.title }}</h3>
          <div class="mt-3 text-sm prose prose-gray-500">{{ post.content }}</div>
        </div>
        <div class="mt-3">
          <a href="{{ post.link }}" class="text-base font-semibold text-brand-600 hover:text-brand-500">
          {% if post.cta %}
          {{ post.cta }}
          {% else %}
          Read full story
          {% endif %}
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="mt-12 flex items-center justify-center">
    <a href="category/press/" class="inline-flex justify-center py-3 px-6 border border-transparent shadow-sm text-base font-medium rounded-md text-white bg-brand-600 hover:bg-brand-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-brand-500">View more press</a>
  </div>
</aside>
